footer
    padding: 24px 0
    background: $color-main
    .footer-logo
        display: flex
        align-items: center
        img
            margin-right: 12px
            max-width: 70px
        span
            font-weight: bold
            max-width: 50px
            display: block
            line-height: 1.2
            text-transform: uppercase
