nav
    .nav-badge
        margin-right: 6px
    // background: $color-main
    @media(min-width: 768px)
        padding: 12px 0
    .nav-logo
        display: flex
        align-items: center
        img
            margin-right: 12px
            max-width: 70px
        span
            font-weight: bold
            max-width: 50px
            display: block
            line-height: 1.2
            text-transform: uppercase
    .nav-links
        display: flex
        align-items: center
        justify-content: center
        list-style: none
        margin: 0
        padding: 0
        white-space: nowrap
        a
            font-weight: 400
            font-size: 1.15rem
            border-bottom: 3px solid transparent
            padding-bottom: 4px
            color: $color-secondary
            transition: all .3s
            &:hover
                border-color: $color-secondary
            &.active
                border-color: $color-secondary
            li
                padding: 0px 8px
                
    .shop-links
        display: flex
        align-items: center
        justify-content: end
        list-style: none
        margin: 0
        padding: 0
        li
            margin-left: 6px