nav
    border-bottom: 1px solid #dedede
    padding: 12px 0
    .nav-badge
        margin-right: 6px
    // background: $color-main
    @media(min-width: 768px)
        padding: 12px 0
    .nav-logo
        display: flex
        align-items: center
        margin-bottom: 0
        img
            margin-right: 8px
            max-width: 40px
            @media(min-width: 768px)
                max-width: 70px
                margin-right: 12px
        span
            font-weight: 800
            font-size: 2rem
            margin-bottom: 0
            color: $color-main
            @media(min-width: 768px)
                font-weight: bold
                font-size: 1.4rem
                max-width: 50%
                line-height: 1
                text-transform: uppercase
            @media(min-width: 992px)
                max-width: 40%
    .shedule
        display: flex
        align-items: center
        justify-content: center
        list-style: none
        margin: 0
        padding: 0
        border: 1px solid #dedede
        border-radius: 16px
        padding: 6px 12px
        .status
            min-width: 10px
            min-height: 10px
            border-radius: 50%
            margin-right: 6px
            &.open
                background-color: green
            &.closed
                background-color: red
        span.time
            display: block
            text-align: center
            font-size: 0.8rem
            line-height: 1rem
            font-weight: 400
    .nav-links
        margin-top: 4px
        display: flex
        align-items: center
        justify-content: center
        list-style: none
        margin: 0
        padding: 0
        white-space: nowrap
        a
            font-weight: 400
            font-size: 1.15rem
            border-bottom: 3px solid transparent
            padding-bottom: 4px
            color: $color-secondary
            transition: all .3s
            &:hover
                border-color: $color-secondary
            &.active
                border-color: $color-secondary
            li
                padding: 0px 8px
                
    .shop-links
        display: flex
        align-items: center
        justify-content: end
        list-style: none
        margin: 0
        padding: 0
        li
            margin-left: 6px
            .menu-button
                background: unset
                color: unset
                border: 1px solid $color-main
                border-radius: 16px
                padding: 8px 12px
                transition: all .3s
                &:hover
                    background: $color-main
                    color: #fff
                
                