.story-list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    align-items: center
    overflow: hidden
    overflow-x: scroll
    &::-webkit-scrollbar
        display: none
    li
        margin-right: 12px
        padding: 4px
        border-radius: 20px
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        .story-item
            position: relative
            height: 200px
            width: 180px
            
            
