@import '../_var'

@import 'comp/_admin-bar'
@import 'comp/_navbar'
@import 'comp/_hero-banner'
@import 'comp/_mobile-menu'
@import 'comp/_stories'
@import 'comp/_banner'
@import 'comp/_category-bar'
@import 'comp/_catalog'
@import 'comp/_footer'
@import 'comp/_modals'
@import 'comp/_additional'

section
    padding: 24px 0

.section-title
    h2
        font-size: 1.3rem
        font-weight: 300
        margin-bottom: 0
.rounded
    border-radius: 16px !important
:root
    --animate-duration: .3s

a
    text-decoration: none

.wrap
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .6)

.overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 10

.form-group
    margin-bottom: 12px
